@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

header {    
    color: rgb(255, 255, 255);
    height: auto;
    width: 1200px;
    margin: auto;
}

img {
    height: 160px;
    width: 1200px;
    padding-bottom: 0%;
    border: none;
    padding: 0%; 
    margin: 0%;
}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

.nav {
    background: #1e1e1e;
    color: rgb(0, 0, 0);
    height: 80px;
    width: 1200px;
    margin: auto;
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
    font-size: 25px;
    font-family: 'Quicksand';
}

a:hover {
    color: #a6d1db;
}

a:focus {
    color: #a6d1db;
}

#main-container {
    margin-top: 0%;
    max-width: 1200px;
    margin: auto;
    background-color: #e6e1dc;
    color: black;
}

.container {
    max-width: 1950px;
    height: 300px;
}

.content {
    display: inline-block;
    vertical-align: top;  
}

.title, .textinfo {
    margin: 5px;
}

.title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.textinfo {
    font-weight: normal;
    color: #000000;
}

footer img {
    padding: 0;
    height: 80px; 
    width: 80px;
    margin-left: 50%;
}

footer {
    background: #1e1e1e;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 1200px;
    margin: auto;
}