@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

header {    
    color: #ffffff;
    height: auto;
    width: 1200px;
    margin: auto;
}

img {
    height: 160px;
    width: 1200px;
    padding-bottom: 0%;
    border: none;
    padding: 0%; 
    margin: 0%;
}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

.nav {
    background: #1e1e1e;
    color: rgb(0, 0, 0);
    height: 80px;
    width: 1200px;
    margin: auto;
}

a {
    color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
    font-size: 25px;
    font-family: 'Quicksand';
}

a:hover {
    color: #a6d1db;
}

a:focus {
    color: #a6d1db;
}

#main-container {
    border: none;
    max-width: 1200px;
    min-width: 100px;
    margin: auto;
    background-color: #1e1e1e;
    color: black;
    height: 600px;
    font-family: 'Quicksand';
}

.container1 {
    width: 100%;
    height: 600px;
    float: left;
    background-color: #f5f5f5;
}

.maincontent {
    width: 60%;
    border-right: #1e1e1e 5px solid;
}

.secondcontent {
    width: 40%;
    background-color: #b4aba1;
    color: #000000;
}

.tableheader {
    height: 40px;
}

.tabletext {
    width: 260px;
    height: 50%;
    text-align: right;
    padding-right: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.tableimg {
    width: 270px;
    height: 50%;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

td img {
    width: 260px;
    height: 260px;
    float: right;
    border: #1e1e1e 5px solid;
}

.title, .textinfo {
    margin-left: 5px;
    text-align: left;
    padding-bottom: 10px;
}

.title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    vertical-align: text-top;
}

footer img {
    padding: 0;
    height: 80px; 
    width: 80px;
    margin-left: 130px;
}

footer {
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100px;
    width: 1200px;
    margin: auto;
}