body {
    background-color: #303030;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

nav {
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 900px;
    margin: auto;
    padding-left: 15px;
    padding-top: 3%;
}

nav a {
    color: rgb(0, 0, 0);
    padding: 15px;
}