@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.clearfix {
	clear: both;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#nav {
    background: rgb(30, 30, 30);
    background-image: url(../images/Dandelion.png);
    
    width: 1280px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Quicksand';
}

#all-content {

}

.aboutus-header {
	#background-color: #474e5d;
	color: black;
	#text-align: center;
}

#about-us-heading {
	text-align: center;
}

#about-h2 {
	text-align: center;
}

#about-h3 {
	text-align: center;
}

#about-p {
	padding-left: 25%;
	padding-bottom: 2%;
}

#container-content {
	
}

.about-us-columns {
	margin: 0 auto;
	display: flex;
	width: 100%;
	height: 360px;;
}

.about-us-left {
	height: 100%;
	width: 32%;
}
.about-us-right {
	height: 100%;
	width: 32%;
}

.image-filler {

}

.about-us-left-image {
	padding-left: 50%;
}

.about-us-right-image {

}

#img-left {
	display: block;
	margin-left: 50%;
	width: 150px;
}
#img-right {
	display: block;
	margin-left: 25%;
	width: 150px;
}

.about-us-filler {
	height: 100%;
	width: 20%;
}

.about-us-content-filler {
	height: 100%;
	width: 12%;
}

.container-contact {
	
}

.aboutus-contact {
	padding-top: 24px;
	padding-bottom: 24px;
}

.columns {
	margin: 0 auto;
	display: flex;
}

.card-left {
	width: 20%;
	padding-left: 5%;
}

.card-right {
	width:20%;
	padding-left: 1%;
}

.title {
  color: grey;
  text-align: left;
  padding-left: 1%;
}

#beskrivning {
	padding-left: 0%;
	width: 200px;
	font-family: 'Red Hat Text', sans-serif;
	font-size: 15px;
}

#email {
	color: #6d9bc3;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 12px;
	text-decoration: none;
}

form {
	width: 176px;
}

#textsubject {
	width: 176px;
}

#textarea {
	height: 76px;
	width: 176px;
	text-align: left;
}

#wrapper {
	text-align: center;
}

#container-contact {
	
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

body {
  #background-color: #303030;
  color: black;
  font-family: 'Red Hat Display', Helvetica, sans-serif;
  margin: 0;
}

#link {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

#link:hover {
    color: rgb(27, 71, 88);
}

#link:focus {
    color: rgb(27, 71, 88);
}

#image-wrap {
	padding-top: 5px;
}

#instagram {
	height: 80px;
}

.container-footer {
	display: flex;
	width: 100%;
}

footer {
    background: black;
    #color: rgb(255, 255, 255);
    height: 92px;
    width: 100%;
    margin: auto;
}

.footer-filler {
	width: 45%;
	height: 80px;
}
