@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.clearfix {
    height: auto;
    border-top: #ffffff 5px solid;
	clear: both;
	background-color: white;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#headerimg {
    background-image: url(../images/AboutImg.jpg);
    width: 1200px;
	height: 160px;
    margin: auto;
	border-bottom: #303030 4px solid;
}

#nav {
    background-color: #1e1e1e;
    width: 1200px;
    margin: auto;
	height: 37px;
    font-size: 25px;
    font-family: 'Quicksand';
}

#all-content {
	margin: 0 auto;
	width: 1200px;
}

body {
  background-color: #303030;
  color: black;
  font-family: 'Red Hat Display', Helvetica, sans-serif;
  margin: 0 auto;
}

.aboutus-header {
	color: black;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 24px;
}

#about-us-heading {
	text-align: center;
	font-family: 'Red Hat Display',sans-serif;
	font-size: 16px;
}

#about-h2 {
	text-align: center;
	margin-bottom: 10px;
}

h3 {
	text-align: center;
	margin-bottom: 10px;
}

#about-p {
	text-align: center;
}

header {
	width: 1200px;
	margin: 0 auto;
}

.container-contact {
	margin-left: 10%;
	margin-right: 10%;
}

.about-us-columns {
	display: flex;
	margin: 0 auto;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

.columns {
	margin: 0 auto;
	display: flex;
}

.about-us-left {
	height: 100%;
	margin: 0 auto;
	float: right;
}
.about-us-right {
	height: 100%;
	margin: 0 auto;
}

.about-us-left-image {
	padding-bottom: 24px;
}

.about-us-right-image {
	padding-bottom: 24px;
}

#img-wrap {
	margin: 0 auto;
}

#img-left {
	display: block;
	width: 150px;
	height: auto;
	border-radius: 50%;
	margin-left: 30%;
	max-width: 100%;
}

#img-right {
	display: block;
	width: 174px;
	height: auto;
	border-radius: 50%;
	margin-left: 30%;
	max-width: 100%;
}

.about-us-left-content {
}

.about-us-right-content {

}

#description-left {
	padding-top: 24px;
	width: 90%;
}

#description-right {
	padding-top: 24px;
}


.aboutus-contact {
	padding-top: 24px;
	padding-bottom: 24px;
}

.cards {
	margin: 0 auto;
	display: block;
	text-align: left;
	width: 20%;
}

.card-left {
}

.card-right {
}

#name {
	padding-left: 0%;
	text-align: left;
}

.jobtitle {
  color: grey;
  text-align: left;
}

#email {
	color: #6d9bc3;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 12px;
	text-decoration: none;
}

form {
	width: 176px;
}

#textsubject {
	width: 176px;
}

.aboutus-contact {
	padding-top: 24px;
	padding-bottom: 24px;
}

.columns {
	margin: 0 auto;
	display: flex;
}

#textarea {
	height: 76px;
	width: 176px;
	text-align: left;
}

#wrapper {
	text-align: center;
}

.container-contact {
	
}

.container-content {
	width: 1200px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

#navlink {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

#navlink:hover {
    color: rgb(27, 71, 88);
}

#navlink:focus {
    color: rgb(27, 71, 88);
}

.input,
.textarea {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
  font-size: 15px;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all .2s ease;
}

.input:hover,
.textarea:hover {
  border: 1px solid #111111;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: 1px solid #104cfb;
}

.textarea {
  min-height: 7rem;
}

footer img {
    height: 80px; 
    width: 80px;
}

.container-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
}

.container-bottom {
    width: 100%;
    height: 100px;
}

#one-foot {
    width: 50%;
    text-align: center;
}

#two-foot {
    width: 5%;
}

#three-foot {
	width: 45%;
}

#grad1 {
	background: linear-gradient(to right, purple, cyan, orange, yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
}
