@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

header {    
    color: #ffffff;
    height: auto;
    width: 1200px;
    margin: auto;
}

header img {
    height: auto;
    width: 1200px;
    padding-bottom: 0%;
    border: none;
    padding: 0%; 
    margin: 0%;
}

body {
    background-color:#303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background: #1e1e1e;
    color: rgb(0, 0, 0);
    height: 37px;
    width: 1200px;
    margin: auto;
    font-size: 25px;
    font-family: 'Quicksand';
}

a {
    color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

a:hover {
    color: #a6d1db;
}

a:focus {
    color: #a6d1db;
}

#main-container {
    border: none;
    max-width: 1200px;
    margin: auto;
    background-color: #f5f5f5;
    color: black;
}

tr td:first-child{
    width: 10px;
}

.container1 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.container2 {
    width: 100%;
    height: auto;
    border-top: #ffffff 5px solid;
    padding-bottom: 20px;
}

.content {
    display: inline-block;
    vertical-align: top;
}

.title, .textinfo {
    margin: 5px;
    text-align: left;
}

.title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.textinfo {
    font-weight: normal;
    color: #000000;
}

footer img {
    padding: 0;
    height: 80px; 
    width: 80px;
    float: left;
}

.container-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
}

.container-bottom {
    width: 100%;
    height: 100px;
}

#one-foot {
    width: 40%;
    text-align: center;
}

#two-foot {
    width: 50%;
}

#three-foot {
    width: 40%;
}

#instatext {
	text-align: left;
	
}

#grad1 {
	background: linear-gradient(to right, purple, cyan, orange, yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
}
