@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

.nav {
    background: rgb(30, 30, 30);
    background-image: url(../images/BannerImgOpa.png);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Quicksand';
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

a:hover {
    color: rgb(166, 209, 219);
}

a:focus {
    color: rgb(27, 71, 88);
}

#main-container {
    border: none;
    max-width: 1200px;
    margin: auto;
    background-color: #e6e1dc;
    color: black;
}

.container {
    min-width: 700px;
    height: 300px;
}

.content {
    display: inline-block;
    vertical-align: top;  
}

.title, .textinfo {
    margin: 5px;
    text-align: left;
}

.title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.textinfo {
    font-weight: normal;
    color: #000000;
}

footer {
    background: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    height: 100px;
    width: 1200px;
    margin: auto;
}