@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

body {
    background-color:#303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background: rgb(30, 30, 30);
    background-image: url(../images/kittens5.jpg);
    color: rgb(0, 0, 0);
    height: 60px;
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Quicksand';
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

a:hover {
    color: rgb(166, 209, 219);
}

a:focus {
    color: rgb(166, 209, 219);
}

#main-container {
    border: 5px solid #3F3F3F;
    width: 1190px;
    margin: auto;
}

.container {
    width: 1170px;
    height: 300px;
    border: 5px solid #2f5177;
    margin: 5px;
}

.box1 {
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/CatmomS.png);
    width: 290px;
    height: 290px;
    margin: 5px;
}

.box2 {
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/CatdadS.png);
    width: 290px;
    height: 290px;
    margin: 5px;
}

.content {
    display: inline-block;
    vertical-align: top;
    
}

.title, .textinfo {
    margin: 0;
    padding: 3px 10px 3px 0;
}

.title {
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
}
.textinfo {
    font-weight: normal;
    color: #ffffff;
}
