@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

header {    
    color: #ffffff;
    height: auto;
    width: 1200px;
    margin: auto;
}

header img {
    height: auto;
    width: 1200px;
    padding-bottom: 0%;
    border: none;
    padding: 0%; 
    margin: 0%;
}

body {
    background-color:#303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background: #1e1e1e;
    color: rgb(0, 0, 0);
    height: 37px;
    width: 1200px;
    margin: auto;
    font-size: 25px;
    font-family: 'Quicksand';
}

a {
    color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

a:hover {
    color: #a6d1db;
}

a:focus {
    color: #a6d1db;
}

#main-container {
    border: none;
    max-width: 1200px;
    margin: auto;
    background-color: #f5f5f5;
    color: black;
}

tr td:first-child{
    width: 10px;
}

.container1 {
    width: 100%;
    height: 300px;
    padding-top: 5px;
    padding-left: 5px;
}

.container2 {
    width: 100%;
    height: 300px;
    border-top: 5px solid #ffffff;
    padding-top: 5px;
    padding-left: 5px;
}

img {
    border: #1e1e1e 3px solid;
}

.content {
    display: inline-block;
    vertical-align: top;
    
}

.title, .textinfo {
    margin: 0;
    padding: 3px 10px 3px 0;
    color: black;
}

.title {
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
}
.textinfo {
    font-weight: normal;
}

footer img {
    padding: 0;
    height: 80px; 
    width: 80px;
    float: left;
}

.container-footer {
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100px;
    width: 1200px;
    margin: auto;
}

.container-bottom {
    width: 100%;
}

#one-foot {
    width: 40%;
}

#two-foot {
    width: 20%;
}

#three-foot {
    width: 40%;
}