@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding: 0%; margin: 0%;}

body {
    background-color:#303030;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background: rgb(30, 30, 30);
    background-image: url(Dandelion.png);
    color: rgb(0, 0, 0);
    height: 50px;
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Quicksand';
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
    letter-spacing:0.1rem;
}

a:hover {
    color: rgb(27, 71, 88);
}

a:focus {
    color: rgb(27, 71, 88);
}

p {
    background-color: #ffffff;
    color: black;
    height: auto;
    width: 1200px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#careinfo {
    background-color: #ffffff;
    color: black;
    height: auto;
    width: 1200px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

ul {
    float: right; 
    list-style: none;
}

img {
    padding-top: 20%;
    height: 210px; 
    width: 230px;
    margin: auto;
}